@import url("https://fonts.googleapis.com/css?family=Gayathri:400,700&display=swap");

--root {
  --yellow: #eab543;
  --white: #f8efba;
  --pink: #d6a2e8;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fc427b;
}

body {
  color: #fefefe;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gayathri", sans-serif;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #eab543;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
